POSTGRES_VERSION=17
POSTGRES_DB=template
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432

RABBITMQ_VERSION=4
RABBITMQ_USER=template
RABBITMQ_PASSWORD=change-me
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672