POSTGRES_VERSION=17
POSTGRES_DB=template
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432

RABBITMQ_VERSION=4
RABBITMQ_USER=template
RABBITMQ_PASSWORD=change-me
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

AUTHENTICATION_AUTHORITY=https://keycloak.example.com/realms/template
AUTHENTICATION_AUDIENCE=template-api

CORS_ALLOWED_ORIGIN_0=https://app.example.com

BOOTSTRAP_ADMIN_ENABLED=false
BOOTSTRAP_ADMIN_IDENTITY_ID=